<h3 style="text-align:center; color:rgba(235, 159, 77, 1);">Interface For The Future</h3>
<div style=" background-color:white; border:1px solid #ddd; -webkit-box-shadow: 0px 0px 5px 1px rgba(176,176,176,0.45);-moz-box-shadow: 0px 0px 5px 1px rgba(176,176,176,0.45);box-shadow: 0px 0px 5px 1px rgba(176,176,176,0.45);border-radius:5px;padding:0px;font-size:14px;">
<div style="color: #444;text-align: center;padding: 10px;border-bottom: 1px solid #ddd;background: #fafafa;font-size: 16px;border-radius: 5px 5px 0px 0px;margin-bottom:20px;">Reset your password</div>

<div style="padding:20px 80px;">
  To reset your password, please click the URL below: </br>
	<div style="color:rgba(235, 159, 77, 1);"><%= edit_password_reset_url(@user.reset_password_token) %></div> </br>
If you didn't request your password to be reset, please ignore this email, and your password will remain what it is.
</div>
</div>