$('#popup').html("<div class='popup_header'>Rename Tag \"<%= @tag.name %>\" </div> <div class='error_messages'></div>" + "<%= j (render 'form') %>");
$('#popup').addClass('popup_signin');
$('#grayout').show();
$('#popup').show();