<div class="page_title">
    <%= @page_title %>
    <span class="order">
        <%= select_tag 'customOrder', options_for_select([['Newest First', 'date_desc'], ['Oldest First', 'date_asc'], ['Most Favorited', 'fav']], params[:order] || 'date_desc') %>
    </span>
</div>
<ul id="list_items" class="styled_list">
    <%= render partial: "listitem", collection: @items, as: :item %>
</ul>
<div id="pagination">
    <%= paginate @items, :remote => true %>
</div>
<% if (@filter) %>
<script type="text/javascript">
	 $('#resource_list').off('scroll');
	 $('#resource_list').on('scroll', function(){
        var more_item_url = $('.pagination .next a').attr('href');
        if (more_item_url && $('#resource_list').scrollTop() > $('.currentpage').height() - $('#resource_list ').height() - 60){
            $('#pagination').html('<img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." />');
            $.ajax({url:more_item_url, dataType: "html"})
                .done(function(script, textStatus){
                	var start = script.indexOf('<ul id="list_items" class="styled_list">'),
                		end = script.indexOf('</ul>'),
                		list_script = script.substring(start, end + 5),
                		p_start = script.indexOf('<nav class="pagination">');
                		p_end = script.indexOf('</nav>', p_start);
                		pagination_script = script.substring(p_start, p_end + 6);
					$('#list_items').html($('#list_items').html() + list_script);
					if ($(pagination_script).find('.last').length == 0) {
					    $('#resource_list').off('scroll');
					    $('#pagination').hide();
					}else{
					    $('#pagination').html(pagination_script);
					}
                })
                .fail(function(jqxhr, settings, exception) {
                    console.log(exception);
                });
        } 
    });
	$('#resource_list').addClass('init');

    Resources.ItemsOrder.init($('.currentpage #customOrder'));
</script>
<% end %>