
<div id="list_display">
<% if defined?(@item) %>
<div class="page_title">
    All items linked to <%= @item.title %>
</div>
<% end %>
	<ul class="styled_list">
	    <%= render partial: "resources/listitem", collection: @items, as: :item %>
	</ul>
	<div class="mypagination">
	    <%= paginate @items, :remote => true %>
	</div>
</div>