/*Tags */
.item_tags {
    margin:15px 0px;
  /*  position: absolute;
    top: 735px; */
    width: 450px;
}
.item_url a {
    color: #eb9f4d;
    text-decoration: none;
    font-size:12px;
}
#tag_suggestions {
    font-size: 12px;
    padding-top: 5px;
}
#tag_lists {
    font-size:0px;
    border:1px solid #bbb;
    border-radius:2px;
    padding:8px;
}

#tag_lists span{
    font-size:16px;
    margin:2px;
}
#new_tag {
    font-size:16px;
    color:#444;
    height:25px;
    border:none;
}
#new_tag:focus{
    outline:none;
}

.comments{margin-top:20px; font-size:14px;}
.comments > div {background-color: #eb9f4d; color:white; font-weight:bold; padding:2px 0px 2px 10px;}
.comments > form {background-color: rgba(235, 159, 77, 0.1); padding:10px;}
.comments > form textarea {padding:0px; height: 40px;}
.list_item_comment:nth-child(odd){
    background:rgba(235, 159, 77, 0.1);
}
.list_item_comment:nth-child(even){
    background:#fff;
}
.list_item_comment{
    padding:5px 10px;
}
.comment_username{
    font-weight:bold;
}
.comment_delete{
    float:right;
}
.comment_content{
    display:inline-block;
    width:100%;
    padding-left:10px;
    margin-top:10px;
}
#comment_content{
    width:100%;
}

#item_tags_{
    width:100%;
}

.by_line{
    margin: -10px auto 10px auto;
    text-align: left;
    padding-left: 10px;
    font-size:14px;
    color:#888;
} 
.by_line a { color:#369;}
.by_line a:hover {text-decoration: underline; }