/*Tags */
.item_tags {
    margin:15px 0px;
  /*  position: absolute;
    top: 735px; */
    width: 450px;
}
#tag_suggestions {
    font-size: 12px;
    padding-top: 5px;
}
#tag_lists {
    font-size:0px;
    border:1px solid #bbb;
    border-radius:2px;
    padding:8px;
}

#tag_lists span{
    font-size:16px;
    margin:2px;
}
#new_tag {
    font-size:16px;
    color:#444;
    height:25px;
    border:none;
}
#new_tag:focus{
    outline:none;
}
