/*Main.css consists of very general css rules that are used across the site
It consists of:
General tag rules
General class rules
Color scheme class rules
*/

/*Define general tag rules*/
a{
    text-decoration:none;
    color:#444;
}

body{
    color:#444;
    background-color:#f0f0f0;
    font-family: 'Helvetica Neue', helvetica, arial, san-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/*Define general class rules*/
.text_left  { text-align: left;}
.text_right { text-align: right;}
.text_center{ text-align: center;}

.button{
    display:inline-block;
    border:1px solid black;
    border-radius:3px;
    padding:5px;
    cursor:pointer;
}

.button.inactive{
    color:gray;
    border-color:gray;
    cursor:default;
}

.tag{
    border-color: #c6c6c6;
    background: #f9f9f9;
    box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

.tag.selected{
    background: #e0e0e0;
}

.bordered-block{
    border:2px solid #bbb;
    border-radius:3px;
}

.styleless_list{
    list-style:none;
    margin:0;
    padding: 0;
}

.horizontal_list{
    list-style:none;
    display:inline-block;
    margin:0;
    vertical-align:middle;
    padding:0;
}

.horizontal_list li{
    float:left;
    display:block;
    margin:0px 5px 0px 0px;
}

.styled_list{
    list-style:none;
    margin:0;
    padding:0;
}

.styled_list li>a{
    padding:10px;
    display:inline-block;
}
.styled_list li:nth-child(odd) {background: #f3f3f3;}
.styled_list li:nth-child(even) {background:#fff;}
.link {text-decoration:underline; cursor:pointer;}
.url_input{
    height:18px;
    width:350px;
}

/*Define color scheme class rules */
.orange_white{
    color:white;
    background-color:#eb9f4d;
    border-color:white;
}
.orange_white a{
    color:white;
}
.white_orange{
    color:#eb9f4d;
    background-color: white;
    border-color:#eb9f4d;
}
.white_orange a{
    color:#eb9f4d;
}
.gray_black{
    color:#444;
    background-color:#ddd;
    border-color:#444;
}
.lighter_border{
    border-color:#bbb;
}

#user_info{
    white-space: nowrap;
    position:absolute;
    top:0px;
    right:0px;
    margin:10px;
}

@media all and (max-width: 800px){
    #user_info{
        left:570px;
    }
}

@media all and (max-width:  1090px){
    #user_info.logged_in{
        left:730px;
    }
}

#user_info span{
    padding: 10px 0px;
    margin-right:10px;
    border:1px solid #ccb;
    background-color: rgba(255, 255, 255, 0.3);
    cursor:pointer;
    display:inline-block;
}

#user_info span:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#user_info span a{
    padding: 10px 15px;
}
